.form__ale {
    margin: 6rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
}

.required-field {
    color: rgb(237, 38, 38);
}

.buttom__ale-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}